<div class="container">    
        
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        

        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Striker 2.0</div>
            </div>     

            <div class="panel-body" >

                <form   id="form" method="post" class="form-horizontal"  #loginForm="ngForm" novalidate>
                   
                    <div>
                   
                        <input type="text" [(ngModel)]="credentials.userName" class="form-control" name="userName" #userName="ngModel"  placeholder="UserName">
                        
                    </div>

                    <div>
                        
                        <input type="password"  [(ngModel)]="credentials.password" class="form-control" name="password" #password="ngModel"  placeholder="Password">
                       
                    </div>   
                    <button (click)="test(credentials)" >submit</button> 
                    </form>                                                              </div></div></div></div>
