<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li ><a [routerLink]="['/animate']">Test</a></li>
        <li ><a routerLink="customForm" routerLinkActive="active">CountryState</a></li>
        <li ><a routerLink="datatable" routerLinkActive="active">DataTable</a></li>
        <li ><a routerLink="animate" routerLinkActive="active">Animation</a></li>
        <li ><a routerLink="animate/input-output" routerLinkActive="active">Child-View</a></li>
        <li ><a routerLink="childInput" routerLinkActive="active">InputChild</a></li>
      </ul>
      <span>{{authService.isUserLoggedIn}}</span> 
      <ul class="nav navbar-nav navbar-right">{{appcomponentValue}}
        <div>{{isLoggedin}}</div>
        <li *ngIf="!authService.isUserLoggedIn"><a routerLink="login" routerLinkActive="active">Login</a></li>
        <li  *ngIf="authService.isUserLoggedIn"><a (click)="onLogOut()">{{authService.getUserData()}}--Logout</a></li>

        <li></li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a >Action</a></li>
            <li><a >Another action</a></li>
            <li><a >Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a >Separated link</a></li>
          </ul>
        </li>
        
        
      </ul>     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--The whole content below can be removed with the new code.-->